extends baseEmail
block content

  p Someone wants to share a story with you.
  p From: #{name}
  p Email: #{contactEmail}
  p LinkedIn profile: #{linkedIn}
  p Is using D4CR Principles and Guides: #{usingD4CRGuideAndPrinciples ? 'Yes' : 'No'}
  p Wants logo to be featured on the website: #{logoFeaturedOnWebpage ? 'Yes' : 'No'}
  p Message: #{message}
  
